/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root {
  --primary: #ffd639;
  --secondary: #480d15;
}
body {
  margin: 0;
  padding: 25px;
  font-family: "Georgia";
  background: #ef6c01;
}
* {
  color: #0e0101;
  margin: 0;
}
p {
  justify-content: center;
  margin: 25px 0;
}
button {
  border: 5;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}

header nav {
  display: flex;
  gap: 18px;
  justify-content: end;
  max-width: 1200px;
  margin: auto;
}

header Nav h1 {
  margin-right: auto;
  border-bottom: 5px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 4px;
}
header nav a.active {
  background: var(--primary);
}

/* page content */
main {
  max-width: 1200px;
  margin: 40px auto;
}

/* help layout */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a {
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  text-decoration: none;
}

.help-layout nav a:hover {
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/*activities-layout*/
.activities-layout nav {
  display: flex;
  justify-content: center;
  gap: 300px;
  margin: 30px 0;
}

.activities-layout nav a {
  padding: 10px;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  text-decoration: none;
}

.activities-layout nav a:hover {
  border-color: var(--primary);
}
/* FAQ */
.faq .question {
  background: rebeccapurple;
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */
form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 4px;
  border: 0;
  width: 300px;
  color: var(--secondary);
}
form label span {
  margin-bottom: 10px;
}
.auth-form-container {
  text-align: center;
  display: flex;
  min-height: 100%;
  max-width: 100%;
  align-items: center;
  background-image: linear-gradient(79deg, #fcfced, #fcedfc, #ebf6ff);
}
.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}
.auth-form-container label {
  text-align: left;
  padding: 0.25rem 0;
}

.auth-form-container button {
  border: none;
  background-color: none;
  border: flex;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 1px;
}
